
<div th:fragment="home" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="main">

        <section class="up-section padding ">
            <div class="container">
                <h1 >MEGADAY</h1>
                <h2>Все для свадьбы.</h2>
            </div>
        </section>

        <div class="main-container padding">
            <div class=" row row-cols-1 row-cols-2 row-cols-3">

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop1</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем. </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop2</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop3</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop4</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop5</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop6</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop7</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop8</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop9</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop10</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop11</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card shadow">
                        <svg class="placeholder-img card-img" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: News">
                            <title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Shop12</text></svg>
                        <div class="card-body">
                            <p class="card-text">Здесь должно быть представлено краткое описание магазина или услуги. Контент заполняется исполнителем.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn">View</button>
                                </div>
                                <small class="text-muted">megaday</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>